<h2>Profile Page</h2>

<p>Hello, <%= currentUser.name %> </p>

<% setGames.forEach( function(setGame){ %>
    <p>set game id <%= setGame.id %></p>
    <% setGame.attempts.forEach( function(attempt){ %>
        <p>possible <%= attempt.possible %></p>
        <p>correct <%= attempt.correct %></p>
        <form action="/<%= setGame.id %>/?_method=DELETE" method='POST'>
          <input type="submit" value="remove">
        </form>
    <% }) %>
<% }) %>

<%= currentUser.bio%>

<form method="POST" action="/users/<%= currentUser.id%>/?_method=PUT">
<label for="bio"></label>
    <input type="text" name="bio">
    <button type="submit">Update Bio</button>
</form>
<br />

<a href="/">Home</a>
