<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>STS9</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1><a href="/">Home</a></h1>
<div id="banner">
    <h1> Hello, <%= currentUser.name %>, below you can see setlist information for: </h1>
    <h3><%= tribeVenue.artist.name %> playing at</h3>
    <h2><%= tribeVenue.venue.name %> in</h2>
    <h3><%= tribeVenue.venue.city.name %>,<%=tribeVenue.venue.city.state%> on <%=tribeVenue.eventDate%>:</h3>
</div>
    <hr />
       
       <% fullSetTwo.sort(function(){ %>
          <%  return 0.5 - Math.random() %>
       <% }) %> %>
       <ol>
       <% fullSetTwo.forEach(function(song){ %>
       <button><li class="songs"><%= song.name %></li></button>
      <% }); %>
      </ol>
     
</body>
</html>
