
<h1><a href="/">Home</a></h1>

        
      <p>Hello, <%= currentUser.name %> </p>

       <div id="set-container">
        <div id="randomset">
        <ol>
        <% setlists.forEach(function(setList){ %>
                <button><li class="songs"><a href="/sets/<%= setList.id %>">ID: <%= setList.id %>, <%= setList.eventDate %> <%= setList.venue.name %></a></li></button>
        <% }); %>
        </ol>
        </div>
        <div>
        <form id="picks">
        <input >
        </form>
        </div>
    </div>


